In [1]:
# ==========================================
# DAY 2: Variables & Numeric Data Types
# Date: 3 Jan 2025
# ==========================================

In [1]:
# ============================================
# SECTION 1: CREATING VARIABLES
# ============================================

# Numeric variables
age <- 25
height <- 175.5
weight <- 70.2
temperature <- 36.6

# Display variables
print(age)
print(height)
print(weight)

# Display with labels
print(paste("Age:", age))
print(paste("Height:", height, "cm"))
print(paste("Weight:", weight, "kg"))

[1] 25
[1] 175.5
[1] 70.2
[1] "Age: 25"
[1] "Height: 175.5 cm"
[1] "Weight: 70.2 kg"

In [2]:
# ============================================
# SECTION 2: VARIABLE OPERATIONS
# ============================================

# Basic arithmetic with variables
x <- 100
y <- 50

sum_result <- x + y
difference <- x - y
product <- x * y
quotient <- x / y
power <- x ^ 2

print(paste("Sum:", sum_result))
print(paste("Difference:", difference))
print(paste("Product:", product))
print(paste("Quotient:", quotient))
print(paste("Power:", power))

[1] "Sum: 150"
[1] "Difference: 50"
[1] "Product: 5000"
[1] "Quotient: 2"
[1] "Power: 10000"

In [3]:
# ============================================
# SECTION 3: UPDATING VARIABLES
# ============================================

# Variables can be updated
score <- 85
print(paste("Original score:", score))

score <- 90  # Reassign new value
print(paste("Updated score:", score))

score <- score + 5  # Update based on current value
print(paste("Final score:", score))

# Increment example
counter <- 0
counter <- counter + 1
counter <- counter + 1
counter <- counter + 1
print(paste("Counter:", counter))  # Should be 3

[1] "Original score: 85"
[1] "Updated score: 90"
[1] "Final score: 95"
[1] "Counter: 3"

In [4]:
# ============================================
# SECTION 4: DATA TYPES - NUMERIC
# ============================================

# Numeric (decimal numbers)
price <- 99.99
pi_value <- 3.14159
distance <- 42.5

# Check type
class(price)           # "numeric"
typeof(price)          # "double"
is.numeric(price)      # TRUE

[1] "numeric"

[1] "double"

[1] TRUE

In [6]:
# ============================================
# SECTION 5: DATA TYPES - INTEGER
# ============================================

# Integer (whole numbers - use L suffix)
count <- 10L
students <- 25L
days <- 365L

# Check type
class(count)           # "integer"
typeof(count)          # "integer"
is.integer(count)      # TRUE

# Difference between numeric and integer
num1 <- 10      # This is numeric (double)
num2 <- 10L     # This is integer

print(class(num1))  # "numeric"
print(class(num2))  # "integer"

[1] "integer"

[1] "integer"

[1] TRUE

[1] "numeric"
[1] "integer"

In [9]:
# ============================================
# SECTION 6: TYPE CONVERSION
# ============================================

# Convert between types
decimal <- 10.9
whole <- as.integer(decimal)  # Converts to 10 (truncates!)

print(paste("Original decimal:", decimal))
print(paste("After conversion whole:", whole))

integer_val <- 42L
numeric_val <- as.numeric(integer_val)  # Converts to 42.0

print(paste("Original integer_val:", integer_val))
print(paste("After conversion numeric_val:", numeric_val))

# Important: Conversion can lose information!
original <- 7.8
to_int <- as.integer(original)      # Becomes 7
back_to_num <- as.numeric(to_int)   # Becomes 7.0 (lost .8!)

print(paste("Original:", original))
print(paste("After conversion:", back_to_num))

[1] "Original decimal: 10.9"
[1] "After conversion whole: 10"
[1] "Original integer_val: 42"
[1] "After conversion numeric_val: 42"
[1] "Original: 7.8"
[1] "After conversion: 7"

In [10]:
# ============================================
# SECTION 7: MATHEMATICAL FUNCTIONS
# ============================================

# Absolute value
print(abs(-15))        # 15
print(abs(15))         # 15

# Square root
print(sqrt(16))        # 4
print(sqrt(25))        # 5

# Rounding
value <- 3.14159
print(round(value, 2))      # 3.14 (2 decimal places)
print(round(value, 0))      # 3 (no decimals)
print(ceiling(3.2))         # 4 (round up)
print(floor(3.8))           # 3 (round down)

# Power and exponential
print(2^3)             # 8 (2 to power 3)
print(exp(1))          # 2.718... (e^1)
print(log(10))         # 2.303... (natural log)
print(log10(100))      # 2 (log base 10)

# Trigonometry
print(sin(0))          # 0
print(cos(0))          # 1
print(tan(0))          # 0

[1] 15
[1] 15
[1] 4
[1] 5
[1] 3.14
[1] 3
[1] 4
[1] 3
[1] 8
[1] 2.718282
[1] 2.302585
[1] 2
[1] 0
[1] 1
[1] 0

In [11]:
# ============================================
# SECTION 8: PRACTICAL EXAMPLES
# ============================================

In [12]:
# Example 1: BMI Calculator
weight_kg <- 70
height_m <- 1.75

bmi <- weight_kg / (height_m ^ 2)
bmi_rounded <- round(bmi, 2)

print("=== BMI CALCULATOR ===")
print(paste("Weight:", weight_kg, "kg"))
print(paste("Height:", height_m, "m"))
print(paste("BMI:", bmi_rounded))

[1] "=== BMI CALCULATOR ==="
[1] "Weight: 70 kg"
[1] "Height: 1.75 m"
[1] "BMI: 22.86"

In [13]:
# Example 2: Compound Interest Calculator
principal <- 1000
rate <- 0.05      # 5% annual interest
years <- 10

final_amount <- principal * (1 + rate) ^ years
interest_earned <- final_amount - principal

print("=== COMPOUND INTEREST ===")
print(paste("Principal:", principal))
print(paste("Rate:", rate * 100, "%"))
print(paste("Years:", years))
print(paste("Final Amount:", round(final_amount, 2)))
print(paste("Interest Earned:", round(interest_earned, 2)))

[1] "=== COMPOUND INTEREST ==="
[1] "Principal: 1000"
[1] "Rate: 5 %"
[1] "Years: 10"
[1] "Final Amount: 1628.89"
[1] "Interest Earned: 628.89"

In [14]:
# Example 3: Temperature Converter
celsius <- 25
fahrenheit <- (celsius * 9/5) + 32
kelvin <- celsius + 273.15

print("=== TEMPERATURE CONVERTER ===")
print(paste(celsius, "°C"))
print(paste(fahrenheit, "°F"))
print(paste(kelvin, "K"))

[1] "=== TEMPERATURE CONVERTER ==="
[1] "25 °C"
[1] "77 °F"
[1] "298.15 K"

In [15]:
# Example 4: Circle Calculator
radius <- 5
pi <- 3.14159

area <- pi * radius^2
circumference <- 2 * pi * radius

print("=== CIRCLE CALCULATOR ===")
print(paste("Radius:", radius))
print(paste("Area:", round(area, 2)))
print(paste("Circumference:", round(circumference, 2)))

[1] "=== CIRCLE CALCULATOR ==="
[1] "Radius: 5"
[1] "Area: 78.54"
[1] "Circumference: 31.42"

In [16]:
# ============================================
# SECTION 9: CHECKING VARIABLE INFORMATION
# ============================================

# Create test variables
test_num <- 42.5
test_int <- 10L

# Check class (high-level type)
print(class(test_num))      # "numeric"
print(class(test_int))      # "integer"

# Check typeof (low-level type)
print(typeof(test_num))     # "double"
print(typeof(test_int))     # "integer"

# Check specific types
print(is.numeric(test_num)) # TRUE
print(is.integer(test_num)) # FALSE
print(is.integer(test_int)) # TRUE

[1] "numeric"
[1] "integer"
[1] "double"
[1] "integer"
[1] TRUE
[1] FALSE
[1] TRUE

In [19]:
# YOUR MONTHLY FINANCES
# --------------------------------------------

# Income
monthly_salary <- 3000
side_income <- 500
total_income <- monthly_salary + side_income

# Expenses
rent <- 1000
groceries <- 400
utilities <- 150
transportation <- 63
entertainment <- 150
other <- 100

total_expenses <- rent + groceries + utilities +
                  transportation + entertainment + other

# Calculations
savings <- total_income - total_expenses
savings_rate <- (savings / total_income) * 100
annual_savings <- savings * 12

# Display Dashboard
print("========================================")
print("     PERSONAL FINANCE DASHBOARD")
print("========================================")
print("")
print("INCOME:")
print(paste("  Salary:        €", monthly_salary))
print(paste("  Side Income:   €", side_income))
print(paste("  TOTAL INCOME:  €", total_income))
print("")
print("EXPENSES:")
print(paste("  Rent:          €", rent))
print(paste("  Groceries:     €", groceries))
print(paste("  Utilities:     €", utilities))
print(paste("  Transport:     €", transportation))
print(paste("  Entertainment: €", entertainment))
print(paste("  Other:         €", other))
print(paste("  TOTAL EXPENSES: €", total_expenses))
print("")
print("SUMMARY:")
print(paste("  Monthly Savings:  €", savings))
print(paste("  Savings Rate:     ", round(savings_rate, 1), "%"))
print(paste("  Annual Savings:   €", annual_savings))
print("")
print("========================================")

# Financial Health Check
if (savings > 0) {
  print("✓ You're saving money! Great job!")
} else {
  print("⚠ Warning: Expenses exceed income!")
}

[1] "========================================"
[1] "     PERSONAL FINANCE DASHBOARD"
[1] "========================================"
[1] ""
[1] "INCOME:"
[1] "  Salary:        € 3000"
[1] "  Side Income:   € 500"
[1] "  TOTAL INCOME:  € 3500"
[1] ""
[1] "EXPENSES:"
[1] "  Rent:          € 1000"
[1] "  Groceries:     € 400"
[1] "  Utilities:     € 150"
[1] "  Transport:     € 63"
[1] "  Entertainment: € 150"
[1] "  Other:         € 100"
[1] "  TOTAL EXPENSES: € 1863"
[1] ""
[1] "SUMMARY:"
[1] "  Monthly Savings:  € 1637"
[1] "  Savings Rate:      46.8 %"
[1] "  Annual Savings:   € 19644"
[1] ""
[1] "========================================"
[1] "✓ You're saving money! Great job!"