# ==========================================
# DAY 1: My First R Program
# Date: [Jan 3 2025]
# ==========================================

In [ ]:
# 1. HELLO WORLD
print("Hello, R World!")
print("I am learning R programming!")

[1] "Hello, R World!"
[1] "I am learning R programming!"

In [ ]:
# 2. BASIC ARITHMETIC
# Try these calculations
5 + 3
10 - 4
6 * 7
20 / 4
2^3  # 2 to the power of 3

[1] 8

[1] 6

[1] 42

[1] 5

[1] 8

In [ ]:
# 3. VARIABLES - Storing Values
# The <- is the 'assignment operator' in R
my_name <- 'Anje'
my_age <- 30
my_height <- 160

# Display variables
print(my_name)
print(my_age)
print(my_height)

[1] "Anje"
[1] 30
[1] 160

In [ ]:
# 4. SIMPLE CALCULATIONS WITH VARIABLES
x <- 10
y <- 20
z <- x + y

print(z)  # Should print 30

[1] 30

In [ ]:
# 5. REAL-WORLD EXAMPLE: Temperature Conversion
celsius <- 25
fahrenheit <- (celsius * 9/5) + 32

print(paste("Temperature:", celsius, "째C =", fahrenheit, "째F"))

[1] "Temperature: 25 째C = 77 째F"

In [ ]:
# paste() combines multiple text and variable values into a single string
# Syntax of paste(..., sep = " ", collapse = NULL)
# Basic concatenation with default separator (space)

paste("Hello", "World")
# Output: "Hello World"

# Using a custom separator
paste("John", "Doe", sep = "-")
# Output: "John-Doe"

# Combining text and variables
name <- "Alice"
age <- 30
paste("Name:", name, "Age:", age)
# Output: "Name: Alice Age: 30"

# Using collapse with vectors
fruits <- c("apple", "banana", "orange")
paste(fruits, collapse = ", ")
# Output: "apple, banana, orange"

# Custom separator with collapse
paste(fruits, collapse = " | ")
# Output: "apple | banana | orange"

[1] "Hello World"

[1] "John-Doe"

[1] "Name: Alice Age: 30"

[1] "apple, banana, orange"

[1] "apple | banana | orange"

In [ ]:
# 6. ANOTHER EXAMPLE: Simple Interest Calculator
principal <- 1000
rate <- 0.05  # 5%
time <- 2     # years

interest <- principal * rate * time
total <- principal + interest

print(paste("Principal:", principal))
print(paste("Interest:", interest))
print(paste("Total Amount:", total))

[1] "Principal: 1000"
[1] "Interest: 100"
[1] "Total Amount: 1100"

In [ ]:
# Create variables for your personal info
your_name <- "Anje D"
your_age <- 31
birth_year <- 2026 - your_age

print(paste("My name is", your_name))
print(paste("I was born in", birth_year))

[1] "My name is Anje D"
[1] "I was born in 1995"

In [ ]:
# Calculate total shopping cost
item1_price <- 50
item2_price <- 75
item3_price <- 30

total_cost <- item1_price + item2_price + item3_price
discount <- total_cost * 0.10  # 10% discount
final_price <- total_cost - discount

print(paste("Total:", total_cost))
print(paste("Discount:", discount))
print(paste("Final Price:", final_price))

[1] "Total: 155"
[1] "Discount: 15.5"
[1] "Final Price: 139.5"

In [ ]:
# Convert kilometers to miles
kilometers <- 100
miles <- kilometers * 0.621371

print(paste(kilometers, "km =", miles, "miles"))

[1] "100 km = 62.1371 miles"